<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
    <!-- Include additional CSS/JS if needed -->
</head>
<body>

    <div id="header">
        <button id="requestsButton" onclick="redirectToPage('/home')">Requests</button>
    </div>

    <div id="movieManagerModal" class="modal">
        <div class="modal-content">
            <button onclick="removeTitle()" >Remove from Collection</button>
            <button onclick="transferToRequests()">Move back to Requests</button>
            <label class="radio-container" onclick="updateSubtitleStatus('added')">
                <input type="radio" id="hasSubtitle" name="subtitleToggle" value="link">
                Subtitles Added
            </label>
            <label class="radio-container" onclick="updateSubtitleStatus('missing')">
                <input type="radio" id="missingSubtitle" name="subtitleToggle" value="search">
                Missing Subtitles
            </label>
        </div>
    </div>

    <h1>Manage Movie Requests</h1>

    <div class="pagination">
        <button class="page-button" onclick="changePage(-1)">Previous</button>
        <span class="page-info" id="pageInfo">Page 1</span>
        <button class="page-button" onclick="changePage(1)">Next</button>
        <input type="number" id="jumpToPageInput" placeholder="Jump to page" min="1">
        <button onclick="jumpToPage()">Go</button>
    </div>

    <table>
        <thead>
            <th>Title</th>
            <th>Remove from Collection</th>
        </thead>
        <tbody id="requestedMoviesTable">
            {% for movie in movies %}
            <tr 
                id="movie{{ movie.movie_key }}"
                {% if not movie.subtitles_needed %}
                    style="background-color: gold;"
                {% endif %}
            >
                <td>{{ movie.title }} ({{ movie.year_of_release }})</td>
                <td>
                    <button onclick="manageMovie({{ movie.movie_key }})">Remove from Collection</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        let maxPage = {{ movie_count }};
    </script>

    <script src="{{ url_for('static', filename='js/collection.js') }}"></script>
</body>
</html>
