<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <!-- Header -->
    <div id="header">
        <button id="requestMovieBtn">Request Movie</button>
    </div>

    <!-- Movie Request Modal (hidden initially) -->
    <div id="movieRequestModal" class="modal">
        <div class="modal-content">
            <div class="query-type">
                <input type="radio" id="imdbLinkRadio" name="queryType" value="link">Submit Link
                <input type="radio" id="imdbQueryRadio" name="queryType" value="search" checked>Search
            </div>
            <span class="close" onclick="closeModal()">&times;</span>
    
            <div id="searchFields">
                <label for="movieTitle">Movie Title:</label>
                <input type="text" id="movieTitle" name="movieTitle">
    
                <label for="movieYear">Year:</label>
                <input type="text" id="movieYear" name="movieYear">
            </div>
    
            <div id="linkField" style="display:none;">
                <label for="imdbLink">IMDB Link:</label>
                <input type="text" id="imdbLink" name="imdbLink">
            </div>
    
            <button onclick="submitMovieRequest()">Submit Request</button>
            <table class="imdb-search-table"><tbody id="imdbSearchResuls" class="modal-content imdb-search"></tbody></table>
        </div>
    </div>

    <div id="addSourceModal" class="modal">
        <div class="modal-content">
            <div>
                <h3>Source name:</h3> <input type="text" id="sourceName" name="sourceName">
            </div>
            <div>
                <h3>Source Size in GB:</h3> <input type="text" id="sourceSize" name="sourceSize">
            </div>
            <h3 class="add-source-text">
                Source Tracker:
            </h3>
            {% for tracker in trackers %}
                <div><input class="add-source-radios" type="radio" id="tracker{{ tracker.torrent_tracker_key }}" name="queryType">{{ tracker.torrent_tracker_name }}</div>
            {% endfor %}
            <button class="add-source-submit" onclick="submitSource()">Submit</button>
        </div>
    </div>

    <h1>Manage Movie Requests</h1>
    <table>
        <thead>
            <tr>
                {% if session.role_id == 1 or session.role_id == 4 %}<th></th>{% endif %}
                <th>Title</th>
                <th>Year of Release</th>
                <th>Available Sources</th>
                <th>Preferred Source</th>
                <th>Mark as Downloaded</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody id="requestedMoviesTable">
            {% for movie in movies %}
            <tr>
                {% if session.role_id == 1 or session.role_id == 4 %}
                    <td><button onclick="openSourceEditor({{ movie.movie_key }})">Add Source</button></td>
                {% endif %}
                <td>{{ movie.title }}</td>
                <td>{{ movie.year_of_release }}</td>
                <td>
                    {% if movie.download_link %}
                        <a href="{{ movie.download_link }}">Download</a>
                    {% else %}
                        No link available
                    {% endif %}
                </td>
                <td>
                    <div class="source-options">
                        {% for source in movie.sources %}
                            {% if source %}
                                <div class="radio-option">
                                    <label for="source_{{ source.source_key }}"><input class="radio-btn" type="radio" id="source_{{ source.source_key }}" name="source_{{ movie.movie_key }}" value="{{ source.source_name }}" onclick="toggleRadio(this, event)" {% if source['accepted'] %}checked{% endif %}>
                                        {{ source.source_name }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <button onclick="markAsDownloaded({{ movie.movie_key }})">Mark as Downloaded</button>
                </td>
                <td id="comment{{ movie.movie_key }}">
                    <span class="comment-text" id="commentText{{ movie.movie_key }}">
                        {% if movie.comment %}
                            {{ movie.comment }}
                        {% endif %}
                    </span>
                    <input type="text" class="comment-input" value="{{ movie.comment }}" style="display: none;">
                </td>
                <td>
                    <button onclick="editComment('{{ movie.movie_key }}')">Edit Comment</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
                
    </table>
    
    <div id="popup" class="popup"></div>

    <!-- Rest of your page content -->

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
