<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <!-- Header -->
    <div id="header">
        <button id="requestMovieBtn">Request Movie</button>
    </div>

    <!-- Movie Request Modal (hidden initially) -->
    <div id="movieRequestModal" class="modal">
        <div class="modal-content">
            <div class="query-type">
                <input type="radio" id="imdbLinkRadio" name="queryType" value="link">Submit Link
                <input type="radio" id="imdbQueryRadio" name="queryType" value="search" checked>Search
            </div>
            <span class="close" onclick="closeModal()">&times;</span>
    
            <div id="searchFields">
                <label for="movieTitle">Movie Title:</label>
                <input type="text" id="movieTitle" name="movieTitle">
    
                <label for="movieYear">Year:</label>
                <input type="text" id="movieYear" name="movieYear">
            </div>
    
            <div id="linkField" style="display:none;">
                <label for="imdbLink">IMDB Link:</label>
                <input type="text" id="imdbLink" name="imdbLink">
            </div>
    
            <button onclick="submitMovieRequest()">Submit Request</button>
        </div>
    </div>

    <!-- Rest of your page content -->

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
